.header{
    font-family: "Cooper Black";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1800px;
    background-image: url(tooth.png);
    text-align: center;
    background-position: top;
}