.blog-classic{
    border: 1px solid #ddd;
    padding-right: 20px;
}

.blog-classic .date {
    float: left;
    /*width: 100px;*/
    /*height: 85px;*/
    padding-top: 15px;
    background: #222222;
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-right: 40px;
    /*border: 1px solid darkslateblue;*/
}